body {
  background-color: #eee;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid lightgreen;
}

.link-added {
  display: none;
}

.link-added.success {
  display: block;
  animation: fadeOut 2s ease-out forwards;
}

.linkForm {
  display: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.display-block {
  display: block;
}

.delete-post-btn {
  float: right;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

/* Main link element (<div> tag) */

.link {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

/* Link title (<a> tag) */

.linkTitle {
  color: #428bca;
  text-decoration: none;
  margin-right: 5px;
}

.linkTitle:hover {
  text-decoration: none;
}

/* Link URL (<span> tag) */

.linkUrl {
  font-weight: normal;
  font-size: 80%;
}

/* Link headline containing title & URL (<h4> tag) */

.linkHeadline {
  margin: 0;
}

/* Link author (<span> tag) */

.linkAuthor {
  font-weight: normal;
  font-size: 80%;
}

.linkForm {
  margin-bottom: 20px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}